body{
  margin:0;
  padding:0;
}
ul{
  text-decoration:none;
}
p{
  font-family:sans-serif;
}
header, footer{
  width:100%;
  background-color:black;
}
nav ul{
  margin:0;
  padding:0;
}
nav li{
  display:inline-block;
}
h1{
  color:darkblue;
  font-size:50px;
  font-family:sans-serif;
}
h2{
  border-left:1px solid lightgray;
}
#head > nav > ul{
  padding-top:20px;
}
#head > nav > ul > li:nth-child(1) > a{
  text-decoration: none;
  padding-left:1000px;
  padding-right:20px;
  font-family:sans-serif;
}
#head > nav > ul > li:nth-child(2) > a{
  text-decoration: none;
  font-family:sans-serif;
}
#head > nav > ul > li:nth-child(3){
  font-family:sans-serif;
  font-size:12px;
  padding-left:50px;
}
div img{
  zoom: 1.24;
  max-height: 100%;
  max-width: 100%;
}
#head{
  width:100%;
  height:525px;
  background-image: url("http://cdn.macrumors.com/article-new/2011/08/rendera.jpg");
  background-color:#cccccc;
}
body > div.container > section.cols.side-col >
div{
  text-align:center;
}
.cols.side-col > div:nth-child(1) > a > img{
  border-radius:100%;
  width:20%;
}
.cols.side-col > div:nth-child(2) > a > img{
  width:inherit;
}
h6{
  display:inline-block;
  vertical-align:middle;
  font-family:sans-serif;
  background-color:darkgray;
  padding-top:5px;
  margin-bottom:43px;
  padding-right: 4px;
  padding-left: 4px;
  bottom:10px;
  height:21px;
}
.cols.main-col div{
  padding-right:50px;
}
.share-bar ul{
  padding:0;
}
.share-bar ul li{
  display:inline-block;
}
.share-bar a img{
  width:15px;
  height:15px;
  background-color: gray;
  padding:3px;
}
.container{
  width:80%;
  margin: 0 auto;
}
.cols{
  vertical-align:top;
  display:inline-block;
}
.main-col{
  width:69%;
}
.side-col{
  width:29%;
}
.container-2{
  border-top:1px solid lightgray;
  width:100%;
  white-space:nowrap;
  overflow:hidden;
}
.container-2 h1{
  position:relative;
  text-align:center;
  font-family:sans-serif;
}
section h3{
  width:300px;
}
.col-4{
  margin-right:-6px;
  background-color:darkblue;
}
.col-4 img{
  padding-left:2px;
  opacity: .5;
}
.col-4 img:hover{
  opacity: 1;
  cursor: pointer;
}
body > div.container-2 > section:nth-child(2) > h3{
  margin-top:215px;
  margin-left:25px;
}
h3{
  margin-left:25px;
  font-size:30px;
  z-index:100;
  font-family:sans-serif;
  width:90%;
  height:20px;
  position:absolute;
  color:white;
  margin-top:250px;
}
footer{
  vertical-align:bottom;
}
#foot nav ul{
  margin-left:700px;
}
#foot li a{
  text-decoration:none;
  font-size:16px;
}
